.projects{
  display:flex;
  flex-direction: column;
  
}
.project{
  &:not(&:last-child){
    border-bottom: 1px solid rgba(0,0,0,.7);
  }
  display:flex;
  padding: 1.5em 0;
  flex-wrap:wrap;
  gap: 2vw;
  &__image{
    height: 198px;
    width: 250px;
    display:flex;
    justify-content:center;
    margin: 0 auto;
    img{
      display: inline-block;
      vertical-align: middle;
      max-height: 100%;
      max-width: 100%;
      border-radius: 6px;
    }
  }
  &__details{
    flex-grow: 1;
    display:grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }
  
  &__title{
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  &__skills{
    display:flex;
    width: 100%;
    gap: 1em;
  }
  &__skill{
    display:flex;
    flex-direction:column;
    align-items:center;
    font-size: 1.5rem;
    span {
      font-size: .7rem;
    }
  }
  &__cta{
    order: 1;
    display:flex;
    justify-content:center;
    gap: 1em;
    a{
      color: $color-primary-500;
      border-radius: 5px;
      padding: .4em 1em;
      border: 1px solid $color-primary-500;
      text-decoration: none;
      &:active, &:hover{
        background: $color-primary-500;
        color: $color-neutral;
      }
    }
    .github{
      position:relative;
      width: 7ch;
      span{font-size: 1rem;}
      svg{
        position:absolute;
        opacity: 0;
      }
      &:hover, &:active{
        svg{opacity: 1;}
        span{opacity: 0;}
      }
    }
    .live{
      display:grid;
      place-content:center;
    }
  }
  @media (min-width: 768px){
    
    &__details{
      grid-template-columns: 1fr 30%;
      align-items:center;
    }
    &__description, &__skills{
      grid-column: 1/3;
    }
    &__cta{order: 0;}
  }
}