$test: hsl(0, 0%, 0%);
$hue: 270;

$color-primary-900: hsl($hue, 100%, 10%);
$color-primary-700: hsl($hue, 100%, 30%);
$color-primary-500: hsl($hue, 100%, 50%);
$color-primary-300: hsl($hue, 100%, 70%);
$color-primary-100: hsl($hue, 100%, 90%);

$color-neutral: hsl(0, 0%, 100%)