/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.project {
  border-bottom: 1px solid #8000ff;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2vw;
}

.project__image {
  height: 198px;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: Center;
      -ms-flex-pack: Center;
          justify-content: Center;
}

.project__image img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  border-radius: 6px;
}

.project__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project__title {
  font-size: 1.3rem;
  font-weight: bold;
}

.project__skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 1em;
}

.project__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.project__skill span {
  font-size: .7rem;
}

.project__cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: Center;
      -ms-flex-pack: Center;
          justify-content: Center;
  width: 100%;
  gap: 1em;
}

.project__cta a {
  color: #8000ff;
  border-radius: 5px;
  padding: .4em 1em;
  border: 1px solid #8000ff;
}

.project__cta a:active, .project__cta a:hover {
  background: #8000ff;
  color: white;
}

.project__cta .github {
  position: relative;
  width: 7ch;
}

.project__cta .github span {
  font-size: 1rem;
}

.project__cta .github svg {
  position: absolute;
  opacity: 0;
}

.project__cta .github:hover svg {
  opacity: 1;
}

.project__cta .github:hover span {
  opacity: 0;
}

.project__cta .live {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.App > div, .App nav {
  padding: .5em;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #8000ff;
  color: white;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  padding: 0 1em;
}

li {
  padding: .5em .75em;
  list-style: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  border-radius: 5px;
}

li:hover {
  color: #8000ff;
  background: white;
}

.contact {
  font-size: 1.2rem;
}

.contact p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.contact .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  padding: .5em 1em;
  font-size: 1.5em;
  overflow: hidden;
}

.contact .links a:hover {
  color: #8000ff;
}

.aboutMe {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */