@import './reset';
@import './variables';
@import './projects';

.App{
    &>div, nav{
        padding:.5em;
    }
    
}
a{
    color: inherit;
    text-decoration: none;
}
nav{
        display:flex;
        justify-content:space-between;
        align-items:center;
        background: $color-primary-500;
        color: $color-neutral;
    }
    ul{
        display:flex;
        gap: 1em;
        padding: 0 1em;
    }
    li{
        padding: .5em .75em;
        list-style: none;
        cursor: pointer;
        border-bottom: 2px solid transparent ;
        border-radius: 5px;
        &:hover{
            color: $color-primary-500;
            background: $color-neutral;
        }
}
.contact{
    font-size: 1.2rem;
    p{
        display:flex;
        gap: 1em;
    }
    .links{
        display:flex;
        gap: 1em;
        padding: .5em 1em;
        font-size: 1.5em;
        overflow:hidden;
        a:hover{
            color: $color-primary-500;
        }   
        
    }
}
.aboutMe{
    min-height: 20vh;
    display:flex;
    justify-content: space-around;
}
