@import './reset';
@import './variables';
@import './projects';

.App{
    &>div, nav{
        padding:1rem;
    }
    big{
        border-bottom: 2px solid black;
        width: 100%;
    }
    @media(min-width: 768px){
        &>*{
            width: 80%;
            margin: 0 auto;
        }
    }
}

.contact{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 1em;
    span{
        display:flex;
        gap: 1em;
        align-items:center;
    }
    .details{
        text-align:center;
    }
    .links{
        display:flex;
        justify-content:center;
        gap: .5em;
        font-size: 2rem;
        svg:hover, svg:active{
            opacity: .7;
        }
    }
    @media(min-width: 768px){
        justify-content: space-between;
        align-items: flex-start;
        flex-direction:row;
        .details{text-align: left;}
    }
}
.certificates{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .5em;
    @media (min-width: 768px) {
        flex-direction:row;
        justify-content:space-evenly;
        gap: 1em;
    }
}
.certificate{
    display:flex;
    flex-direction:column;
    padding: 1em;
    a{
        width: 100%;
    }
}
